* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

header {
    position: relative;
}

.head {
    width: 100%;
    height: 833px;
    background-color: #000000;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

 .bar {
    height: 20px;
    width: 40px;
    margin: 50px auto;
    position: absolute;
    top: -4px;
    left: 128px;
    cursor: pointer;
}

 .xazi1 {
    width: 40px;
    background-color: #ffffff;
    border-radius: 20px;
    position: absolute;
    padding: 3px;
    top: 0;
}

 .xazi2 {
    width: 40px;
    background-color: #ffffff;
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    padding: 3px;
}

.img {
    width: 100%;
    height: 800px;
    margin-top: 40px;
    overflow: hidden;
}

.img img {
    width: 100%;
    height: 1024px;
}

.logo {
    width: 178.17px;
    height: 16.49px;
    position: absolute;
    left: 675px;
    top: 44px;
}

.logo img {
    width: 100%;
}

.logreg {
    /* width: 162px;
    height: 40px; */
    border: 2px solid #ffffff;
    border-radius: 48px;
    position: absolute;
    padding-block: 5px;
    top: 32px;
    right: 112px;
}

.logreg a {
    padding-inline: 20px;
    padding-block: 10px;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    font-family: sans-serif;
    color: #ffffff;
}

.headtext {
    width: 982px;
    height: 154px;
    position: absolute;
    top: 149px;
    right: 250px;
}

.headtext h1 {
    font-size: 64px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    color: #ffffff;
}

body {
    position: relative;
}

.form {
    width: 1216px;
    height: 145px;
    background-color: #ffffffde;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 760px;
    right: 140px;
    border: none;
    border-radius: 16px;
    padding: 30px 24px;
    transition: 1s;
}

.form:hover {
    box-shadow: 0px 0px 100px 1px;
    transition: 0.4s;
}

.formin {
    position: absolute;
    width: 1168px;
    height: 85px;
}

.formin form {
    width: 975px;
    height: 85px;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.loc label {
    position: absolute;
    top: 0;
    left: 0;
    font-family: sans-serif;
}

.loc input{
    position: absolute;
    width: 283.5px;
    height: 56px;
    border: none;
    border-radius: 8px;
    bottom: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.loc input::placeholder {
    font-family: sans-serif;
    color: #000000;
    padding-inline: 20px;
    font-size: 15px;
}

.date input{
    position: absolute;
    width: 180px;
    height: 56px;
    border: none;
    border-radius: 8px;
    bottom: 0;
    left: 300px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #000000;
    font-size: 15px;
    font-family: sans-serif;
    padding-inline: 20px;
}

.date label {
    position: absolute;
    left: 300px;
    top: 0;
    font-family: sans-serif;
}

.locoff input{
    position: absolute;
    width: 283.5px;
    height: 56px;
    border: none;
    border-radius: 8px;
    bottom: 0;
    left: 500px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.locoff input::placeholder {
    font-family: sans-serif;
    color: #000000;
    padding-inline: 20px;
    font-size: 15px;
}

.locoff label {
    position: absolute;
    left: 500px;
    top: 0;
    font-family: sans-serif;
}

.dateoff input{
    position: absolute;
    width: 180px;
    height: 56px;
    border: none;
    border-radius: 8px;
    bottom: 0;
    left: 800px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #000000;
    font-size: 15px;
    font-family: sans-serif;
    padding-inline: 20px;
}

.dateoff label {
    position: absolute;
    left: 800px;
    top: 0;
    font-family: sans-serif;
}

.find {
    position: absolute;
    border-radius: 64px;
    background-color: #000000;
    bottom: 0;
    right: 0;
    padding: 18px 0;
    transition: 0.5s;
}

.find:hover {
    background-color: #373737;
    transition: 0.5s;
}

.find a {
    padding-inline: 20px;
    padding-block: 20px;
    padding-left: 24px;
    font-family: sans-serif;
    color: #ffffff;
}

.fa-arrow-right {
    margin-left: 18px;
}


.rentby {
    position: absolute;
    top: 1005px;
    left: 165px;
    font-size: 24px;
    font-weight: 600;
    font-family: sans-serif;
}

.viewall a {
    position: absolute;
    top: 1005px;
    right: 140px;
    font-size: 24px;
    font-weight: 600;
    font-family: sans-serif;
    color: #000000;
}




.grid-conteiner-brend {
    position: absolute;
    display: grid;
    gap: 20px;
    top: 1060px;
    left: 165px;
    width: 1220px;
    grid-template-columns: 186px 186px 186px 186px 186px 186px;
    justify-content: space-between;
}

.grid-item-brend {
    width: 186px;
    height: 120px;
    background-color: rgba(15, 15, 15, 0.1);
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
}

.grid-item-brend:hover {
    background-color: rgba(15, 15, 15, 0.2);
    transition: 0.5s;
}

.grid-item-brend p {
    font-family: sans-serif;
    margin-top: 12px;
}

.grid-item-brend img {
    margin-top: 24px;
}



.rentbyb {
    position: absolute;
    top: 1380px;
    left: 165px;
    font-size: 24px;
    font-weight: 600;
    font-family: sans-serif;
}

.viewall2 a {
    position: absolute;
    top: 1380px;
    right: 140px;
    font-size: 24px;
    font-weight: 600;
    font-family: sans-serif;
    color: #000000;
}


.grid-conteiner-model {
    position: absolute;
    display: grid;
    gap: 20px;
    top: 1430px;
    left: 165px;
    width: 1220px;
    grid-template-columns: 186px 186px 186px 186px 186px 186px;
    justify-content: space-between;
}

.grid-item-model {
    width: 186px;
    height: 120px;
    background-color: rgba(15, 15, 15, 0.1);
    top: 1430px;
    left: 165px;
    text-align: center;
}

.grid-item-model p {
    font-family: sans-serif;
    margin-top: 12px;
}

.grid-item-model img {
    margin-top: 24px;
}





.cars {
    position: absolute;
    width: 100%;
    height: 1734px;
    background-color: #f5f5f5;
    top: 1811px;
}

.shesavali {
    position: absolute;
    width: 720px;
    height: 144px;
    top: 100px;
    left: 420px;
    text-align: center;
}

.shesavali h2 {
    position: absolute;
    color: #000000;
    font-size: 44px;
    font-family: sans-serif;
}

.shesavali p {
    position: absolute;
    font-size: 18px;
    font-family: sans-serif;
    top: 86px;
}



.carclass {
    position: absolute;
    display: flex;
    top: 292px;
    left: 400px;
    width: 764px;
    justify-content: space-between;
}

.pop {
    width: 140px;
    padding: 12px 26.5px;
    background-color: #000000;
    border-radius: 58px;
    transition: 0.5s;
}

.carclass .pop:hover {
    background-color: #373737;
    transition: 0.5s;
}

.pop a {
    font-family: sans-serif;
    color: #ffffff;
}

.lux {
    width: 140px;
    padding: 12px 26.5px;
    background-color: #ffffff;
    border-radius: 58px;
    transition: 1s;
}

.lux a {
    font-family: sans-serif;
    color: #000000;
    transition: 0.8s;
}

.vint {
    width: 140px;
    padding: 12px 26.5px;
    background-color: #ffffff;
    border-radius: 58px;
    transition: 1s;
}

.vint a {
    font-family: sans-serif;
    color: #000000;
    transition: 0.8s;
}

.fam {
    width: 140px;
    padding: 12px 28px;
    background-color: #ffff;
    border-radius: 58px;
    transition: 1s;
}

.fam a {
    font-family: sans-serif;
    color: #000000;
    transition: 0.8s;
}

.offroad {
    width: 150px;
    padding: 12px 27.5px;
    background-color: #ffffff;
    border-radius: 58px;
    transition: 1s;
}

.offroad a {
    font-family: sans-serif;
    color: #000000;
    transition: 0.8s;
}

.carclass p:hover a{
    color: #ffffff;
    transition: 0.3s;
}

.carclass p:hover {
    background-color: #000000;
    transition: 0.5s;
}



.a4{
    position: absolute;
    background-color: #ffffff;
    width: 384px;
    height: 538px;
    border-radius: 18px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: 1s;
    top: 406px;
    left: 165px;
}

.a4:hover {
    box-shadow: 0 0 30px 2px;
    transition: 0.4s;
}

.a4 img {
    position: absolute;
    top: 7px;
    left: 7px;
}

.model  {
    position: absolute;
    top: 292px;
    left: 24px;
    font-family: sans-serif;
    font-size: 20px;
}

.cost {
    position: absolute;
    font-family: sans-serif;
    top: 334px;
    left: 24px;
    font-weight: 900;
    font-size: 30px;
}

.costday {
    position: absolute;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.5);
    top: 352px;
    font-weight: 600;
    left: 115px;
}

.config {
    position: absolute;
    width: 336px;
    height: 63px;
    border-radius: 16px;
    background-color: #f6f6f6;
    top: 388px;
    left: 24px;
}

.inconfig {
    position: relative;
    width: 304px;
    height: 47px;
    top: 8px;
    left: 16px;
    text-align: center;
}

.odomet {
    position: absolute;
    width: 56px;
    height: 47px;
    left: 0;
}

.odomet p {
    position: absolute;
    font-size: 14px;
    top: 26px;
    left: 12px;
}

.odomet img {
    position: absolute;
    top: 0;
    left: 19px;
}

.gearbox {
    position: absolute;
    width: 56px;
    height: 47px;
    left: 80px;
}

.gearbox p {
    position: absolute;
    font-size: 14px;
    top: 26px;
    left: 14px;
}

.gearbox img {
    position: absolute;
    top: 0;
    left: 19px;
}

.person {
    position: absolute;
    width: 56px;
    height: 47px;
    left: 165px;
}

.person p {
    position: absolute;
    font-size: 14px;
    top: 26px;
    left: 4px;
}

.person img {
    position: absolute;
    top: 0;
    left: 19px;
}

.gas {
    position: absolute;
    width: 56px;
    height: 47px;
    right: 0;
}

.gas p {
    position: absolute;
    font-size: 14px;
    top: 26px;
    left: 16px;
}

.gas img {
    position: absolute;
    top: 0;
    left: 19px;
}

.rentnow {
    position: absolute;
    top: 471px;
    left: 24px;
    width: 336;
    height: 43px;
    border-radius: 32px;
    border: 2px solid #000000;
    text-align: center;
    padding-top: 9px;
    transition: 0.8s;
}

.rentnow:hover {
    background-color: #000000;
    transition: 0.5s;
}

.rentnow a {
    padding: 13px 130px;
    font-family: sans-serif;
    color: #000000;
    font-weight: 600;
    transition: 0.8s;
}

.rentnow:hover a {
    color: #ffffff;
    transition: 0.5s;
}


.escape {
    position: absolute;
    background-color: #ffffff;
    width: 384px;
    height: 538px;
    border-radius: 18px;
    top: 406px;
    left: 594px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: 1s;
}

.escape:hover {
    box-shadow: 0 0 30px 2px;
    transition: 0.4s;
}

.escape img {
    position: absolute;
    top: 7px;
    left: 7px;
}

.porsche {
    position: absolute;
    background-color: #ffffff;
    width: 384px;
    height: 538px;
    border-radius: 18px;
    top: 406px;
    left: 1020px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: 1s;
}

.porsche:hover {
    box-shadow: 0 0 30px 2px;
    transition: 0.4s;
}

.porsche img {
    position: absolute;
    top: 7px;
    left: 7px;
}

.m4comp {
    position: absolute;
    background-color: #ffffff;
    width: 384px;
    height: 538px;
    border-radius: 18px;
    top: 983px;
    left: 165px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: 1s;
}

.m4comp:hover {
    box-shadow: 0 0 30px 2px;
    transition: 0.4s;
}

.m4comp img {
    position: absolute;
    top: 7px;
    left: 7px;
}

.m4 {
    position: absolute;
    background-color: #ffffff;
    width: 384px;
    height: 538px;
    border-radius: 18px;
    top: 983px;
    left: 594px;
    transition: 1s;
}

.m4:hover {
    box-shadow: 0 0 30px 2px;
    transition: 0.4s;
}

.m4 img {
    position: absolute;
    top: 7px;
    left: 7px;
}

.mclaren {
    position: absolute;
    background-color: #ffffff;
    width: 384px;
    height: 538px;
    border-radius: 18px;
    top: 983px;
    left: 1020px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: 1s;
}

.mclaren:hover {
    box-shadow: 0 0 30px 2px;
    transition: 0.4s;
}

.configmc {
    position: absolute;
    width: 336px;
    height: 63px;
    border-radius: 16px;
    background-color: #f6f6f6;
    top: 388px;
    left: 24px;
}

.inconfigmc {
    position: relative;
    width: 304px;
    height: 47px;
    top: 8px;
    left: 16px;
    text-align: center;
}

.odometmc {
    position: absolute;
    width: 56px;
    height: 47px;
    left: 0;
}

.odometmc p {
    position: absolute;
    font-size: 14px;
    top: 26px;
    left: 12px;
}

.odometmc img {
    position: absolute;
    margin-left: 10px;
    margin-top: -7px;
}


.gearboxmc {
    position: absolute;
    width: 56px;
    height: 47px;
    left: 80px;
}

.gearboxmc p {
    position: absolute;
    font-size: 14px;
    top: 26px;
    left: 14px;
}

.gearboxmc img {
    position: absolute;
    margin-left: 10px;
    margin-top: -7px;
}

.personmc {
    position: absolute;
    width: 56px;
    height: 47px;
    left: 165px;
}

.personmc p {
    position: absolute;
    font-size: 14px;
    top: 26px;
    left: 4px;
}

.personmc img {
    position: absolute;
    margin-left: 10px;
    margin-top: -7px;
}

.gasmc {
    position: absolute;
    width: 56px;
    height: 47px;
    right: 0;
}

.gasmc p {
    position: absolute;
    font-size: 14px;
    top: 26px;
    left: 16px;
}

.gasmc img {
    position: absolute;
    margin-left: 10px;
    margin-top: -7px;
}

.mclaren img {
    position: absolute;
    top: 7px;
    left: 7px;
}

.seeallcars {
    position: absolute;
    top: 1600px;
    left: 695px;
    background-color: #000000;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 64px;
    transition: 0.5s;
}

.seeallcars:hover {
    background-color: #373737;
    transition: 0.5s;
}

.arrows {
    position: absolute;
}

.seeallcars a {
    padding-left: 40px;
    padding-right: 70px;
    padding-top: 16px;
    padding-bottom: 16px;
    color: #ffffff;
    font-family: sans-serif;
}




.howitworks {
    position: absolute;
    width: 1216px;
    height: 838px;
    left: 170px;
    top: 3665px;
}

.texthow {
    position: absolute;
    width: 720px;
    height: 144px;
    text-align: center;
    left: 270px;
}

.texthow h2 {
    font-size: 48px;
    font-family: sans-serif;
}

.texthow p {
    position: absolute;
    bottom: 10px;
    font-size: 18px;
    font-family: sans-serif;
}

.howimg {
    position: absolute;
    width: 750px;
    height: 638px;
    background-color: #f5f5f5;
    top: 250px;
    right: 0px;
    border-radius: 24px;
}

.howimg img {
    position: absolute;
    top: 127px;
    right: 44px;
}

.browse {
    position: absolute;
    width: 592px;
    height: 170px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    top: 300px;
}

.browse h2 {
    position: absolute;
    font-family: sans-serif;
    font-size: 24px;
    top: 32px;
    left: 106px;
}

.browse p {
    position: absolute;
    font-size: 18px;
    font-family: sans-serif;
    top: 80px;
    left: 106px;
}

.browsesel {
    width: 54px;
    height: 106px;
    position: absolute;
    top: 32px;
    left: 32px;
    background-color: #f5f5f5;
    border-radius: 16px;
}

.browsesel img {
    position: absolute;
    top: 41px;
    left: 15px;
}

.book {
    position: absolute;
    width: 592px;
    height: 170px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    top: 486px;
}

.book h2 {
    position: absolute;
    font-family: sans-serif;
    font-size: 24px;
    top: 32px;
    left: 106px;
}

.book p {
    position: absolute;
    font-size: 18px;
    font-family: sans-serif;
    top: 80px;
    left: 106px;
}

.bookconf {
    width: 54px;
    height: 106px;
    position: absolute;
    top: 32px;
    left: 32px;
    background-color: #f5f5f5;
    border-radius: 16px;
}

.bookconf img {
    position: absolute;
    top: 41px;
    left: 15px;
}

.enjoy {
    position: absolute;
    width: 592px;
    height: 170px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    top: 672px;
}

.enjoy h2 {
    position: absolute;
    font-family: sans-serif;
    font-size: 24px;
    top: 32px;
    left: 106px;
}

.enjoy p {
    position: absolute;
    font-size: 18px;
    font-family: sans-serif;
    top: 80px;
    left: 106px;
}

.enjoyride {
    width: 54px;
    height: 106px;
    position: absolute;
    top: 32px;
    left: 32px;
    background-color: #f5f5f5;
    border-radius: 16px;
}

.enjoyride img {
    position: absolute;
    top: 41px;
    left: 15px;
}


.service {
    position: absolute;
    background-color: #000000;
    height: 586px;
    width: 100%;
    top: 4660px;
}

.servicetext {
    position: absolute;
    width: 720px;
    height: 144px;
    text-align: center;
    left: 420px;
    top: 100px;
}

.servicetext h2 {
    font-size: 48px;
    font-family: sans-serif;
    color: #ffffff;
}

.servicetext p {
    font-size: 18px;
    font-family: sans-serif;
    position: absolute;
    bottom: 10px;
    color: #ffffff;
}


.container {
    width: 1280px;
    height: 178px;
    position: absolute;
    left: 80px;
    top: 308px;
}

.quality {
    position: absolute;
    left: 0;
    width: 384px;
    height: 178px;
}

.starimg { 
    width: 48px;
    height: 48px;
    position: absolute;
    border-radius: 28px;
    background-color: beige;
    border: 8px solid rgba(255, 255, 255, 0.9);
    left: 168px;
}

.starimg img {
    position: absolute;
    top: 4px;
    left: 5px;
}

.startext {
    position: absolute;
    width: 384px;
    height: 110px;
    bottom: 0;
    text-align: center;
}

.startext h2 {
    font-size: 20px;
    font-family: sans-serif;
    color: #ffffff;
}

.startext p {
    font-family: sans-serif;
    position: absolute;
    bottom: 10px;
    color: #ffffff;
}

.price {
    position: absolute;
    left: 450px;
    top: 0;
    width: 384px;
    height: 178px;
}

.priceimg { 
    width: 48px;
    height: 48px;
    position: absolute;
    border-radius: 28px;
    background-color: beige;
    border: 8px solid rgba(255, 255, 255, 0.9);
    left: 168px;
}

.priceimg img {
    position: absolute;
    top: 4px;
    left: 5px;
}

.pricetext {
    position: absolute;
    width: 384px;
    height: 110px;
    bottom: 0;
    text-align: center;
}

.pricetext h2 {
    font-size: 20px;
    font-family: sans-serif;
    color: #ffffff;
}

.pricetext p {
    font-family: sans-serif;
    position: absolute;
    bottom: 10px;
    color: #ffffff;
}


.booking {
    position: absolute;
    top: 0;
    right: 0;
    width: 384px;
    height: 178px;
}

.bookingimg { 
    width: 48px;
    height: 48px;
    position: absolute;
    border-radius: 28px;
    background-color: beige;
    border: 8px solid rgba(255, 255, 255, 0.9);
    left: 168px;
}

.bookingimg img {
    position: absolute;
    top: 4px;
    left: 5px;
}

.bookingtext {
    position: absolute;
    width: 384px;
    height: 110px;
    bottom: 0;
    text-align: center;
}

.bookingtext h2 {
    font-size: 20px;
    font-family: sans-serif;
    color: #ffffff;
}

.bookingtext p {
    font-family: sans-serif;
    position: absolute;
    bottom: 10px;
    color: #ffffff;
}

.costumer {
    position: absolute;
    top: 5309px;
    left: 120px;
    font-size: 40px;
    font-family: sans-serif;
}

.costumtext {
    position: absolute;
    top: 5433px;
    left: 120px;
    font-size: 32px;
    font-family: sans-serif;
}

.costumname {
    position: absolute;
    top: 5737px;
    left: 120px;
    width: 279px;
    height: 80px;
}

.cosimg {
    width: 80px;
    height: 80px;
}

.costumname h2 {
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 24px;
    font-family: sans-serif;
}

.costumname p  {
    position: absolute;
    right: 68px;
    bottom: 0;
    font-size: 20px;
    font-family: sans-serif;
    color: #737373;
}

.download {
    position: relative;
    width: 100%;
    height: 292px;
    top: 5937px;
    background-color: #0f0f0f;
}

.dowtext {
    position: absolute;
    width: 488px;
    height: 119px;
    position: absolute;
    left: 216px;
    top: 85px;
}

.dowtext h2 {
    position: absolute;
    color: #ffffff;
    font-size: 36px;
    top: 10px;
}

.dowtext p {
    position: absolute;
    color: #ffffff;
    bottom: 10px;
}

.dowbutton {
    position: absolute;
    width: 418px;
    height: 61px;
    top: 125px;
    left: 820px;
}

.apple {
    position: absolute;
    left: 0;
}

.android {
    position: absolute;
    right: 0;
}



footer {
    position: absolute;
    top: 6229px;
    width: 100%;
    height: 113px;
    background-color: #0f0f0f;
}

.hr {
    position: absolute;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: #69696916;
}

footer img {
    position: absolute;
    left: 165px;
    top: 43px;
}

.footnav {
    position: absolute;
    width: 295px;
    top: 44px;
    left: 620px;
    display: flex;
    justify-content: space-between;
}

.footnav a {
    color: #d9dbe1;
    font-family: sans-serif;
    font-size: 14px;
}

.social {
    position: absolute;
    top: 45px;
    right: 165px;
    width: 144px;
    height: 24px;
    display: flex;
    justify-content: space-between;
}

.inst {
    position: absolute;
    left: 0;
    width: 24px;
    height: 24px;
    top: 0;
}

.inst img {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;
}

.soc {
    position: absolute;
    left: 53px;
    width: 24px;
    height: 24px;
    top: 0;
}

.soc img {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;
}

.twitter {
    position: absolute;
    left: 0;
    width: 24px;
    height: 24px;
    top: 0;
}

.twitter img {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 110px;
    top: 0px;
}

.youtube img {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 0;
    top: 0px;
}






@media only screen and (min-width: 1918px) {
    
    
     .bar {
        height: 25px;
        width: 50px;
        margin: 62.5px auto;
    }
    
     .xazi1 {
        width: 60px;
        border-radius: 25px;
        padding: 3.75px;
    }
    
     .xazi2 {
        width: 60px;
        border-radius: 25px;
        padding: 3.75px;
    }
    
    .img {
        height: 1000px;
        margin-top: 50px;
    }
    
    .img img {
        height: 1280px;
    }
    
    .logo {
        width: 222.7px;
        height: 20.6px;
        left: 843.75px;
        top: 55px;
    }
    
    .logreg {
        border: 2.5px solid #ffffff;
        border-radius: 60px;
        padding-block: 6.25px;
        top: 40px;
        right: 140px;
    }
    
    .logreg a {
        padding-inline: 25px;
        padding-block: 12.5px;
        font-size: 20px;
        line-height: 30px;
    }
    
    .headtext {
        width: 1227.5px;
        height: 192.5px;
        top: 186.25px;
        right: 312.5px;
    }
    
    .headtext h1 {
        font-size: 80px;
    }
    
    .form {
        width: 1520px;
        height: 181.25px;
        top: 950px;
        right: 175px;
        border-radius: 16px;
        padding: 37.5px 30px;
    }
    
    .formin {
        width: 1460px;
        height: 106.25px;
    }
    
    .formin form {
        width: 1218.75px;
        height: 106.25px;
    }
    
    .loc input{
        width: 354.375px;
        height: 70px;
        border: 1.25px solid rgba(0, 0, 0, 0.1);
    }
    
    .loc input::placeholder {
        padding-inline: 25px;
        font-size: 18.75px;
    }
    
    .date input{
        width: 225px;
        height: 70px;
        left: 375px;
        border: 1.25px solid rgba(0, 0, 0, 0.1);
        font-size: 18.75px;
        padding-inline: 25px;
    }
    
    .date label {
        left: 375px;
    }
    
    .locoff input{
        width: 354.375px;
        height: 70px;
        left: 625px;
        border: 1.25px solid rgba(0, 0, 0, 0.1);
    }
    
    .locoff input::placeholder {
        padding-inline: 25px;
        font-size: 18.75px;
    }
    
    .locoff label {
        left: 625px;
    }
    
    .dateoff input{
        width: 225px;
        height: 70px;
        left: 1000px;
        border: 1.25px solid rgba(0, 0, 0, 0.1);
        font-size: 18.75px;
        padding-inline: 25px;
    }
    
    .dateoff label {
        left: 1000px;
    }
    
    .find {
        border-radius: 80px;
        padding: 22.5px 0;
    }
    
    .find a {
        padding-inline: 25px;
        padding-block: 25px;
        padding-left: 30px;
    }
    
    .fa-arrow-right {
        margin-left: 22.5px;
    }
    
    
    .rentby {
        top: 1256.25px;
        left: 206.25px;
        font-size: 30px;
    }
    
    .viewall a {
        top: 1256.25px;
        right: 175px;
        font-size: 30px;
    }
    
    
    
    
    .grid-conteiner-brend {
        gap: 25px;
        top: 1325px;
        left: 206.25px;
        width: 1525px;
        grid-template-columns: 232.5px 232.5px 232.5px 232.5px 232.5px 232.5px;
    }
    
    .grid-item-brend {
        width: 232.5px;
        height: 150px;
    }
    
    .grid-item-brend p {
        margin-top: 15px;
    }
    
    .grid-item-brend img {
        margin-top: 30px;
    }
    
    
    
    .rentbyb {
        top: 1725px;
        left: 206.25px;
        font-size: 30px;
    }
    
    .viewall2 a {
        top: 1725px;
        right: 175px;
        font-size: 30px;
    }
    
    
    .grid-conteiner-model {
        gap: 25px;
        top: 1787.5px;
        left: 206.25px;
        width: 1525px;
        grid-template-columns: 232.5px 232.5px 232.5px 232.5px 232.5px 232.5px;
    }
    
    .grid-item-model {
        width: 232.5px;
        height: 150px;
        top: 1787.5px;
        left: 206.25px;
    }
    
    .grid-item-model p {
        margin-top: 15px;
    }
    
    .grid-item-model img {
        margin-top: 30px;
    }
    
    
    
    .cars {
        height: 2167.5px;
        top: 2263.75px;
    }
    
    .shesavali {
        width: 900px;
        height: 180px;
        top: 125px;
        left: 525px;
    }
    
    .shesavali h2 {
        font-size: 55px;
    }
    
    .shesavali p {
        font-size: 22.5px;
        top: 107.5px;
    }
    
    
    
    .carclass {
        top: 365px;
        left: 500px;
        width: 955px;
    }
    
    .pop {
        width: 175px;
        padding: 15px 33.125px;
        border-radius: 72.5px;
    }
    
    .pop a {
        font-size: 20px;
    }
    
    .lux {
        width: 175px;
        padding: 15px 33.125px;
        border-radius: 72.5px;
    }
    
    .lux a {
        font-size: 20px;
    }
    
    .vint {
        width: 175px;
        padding: 15px 33.125px;
        border-radius: 72.5px;
    }
    
    .vint a {
        font-size: 20px;
    }
    
    .fam {
        width: 175px;
        padding: 15px 35px;
        border-radius: 72.5px;
    }
    
    .fam a {
        font-size: 20px;
    }
    
    .offroad {
        width: 175px;
        padding: 15px 34.375px;
        border-radius: 72.5px;
    }
    
    .offroad a {
        font-size: 17px;
    }
    
    

    
    .a4{
        width: 480px;
        height: 672.5px;
        border-radius: 22.5px;
        border: 1.5px solid rgba(0, 0, 0, 0.1);
        top: 507.5px;
        left: 206.25px;
    }

    .rent-img {
        height: 325px;
    }
    
    .model  {
        top: 365px;
        left: 30px;
        font-size: 25px;
    }
    
    .cost {
        top: 417.5px;
        left: 30px;
        font-size: 37.5px;
    }
    
    .costday {
        top: 440px;
        left: 143.75px;
    }
    
    .config {
        width: 420px;
        height: 78.75px;
        border-radius: 20px;
        top: 485px;
        left: 30px;
    }
    
    .inconfig {
        width: 380px;
        height: 58.75px;
        top: 10px;
        left: 20px;
    }
    
    .odomet {
        width: 70px;
        height: 58.75px;
    }
    
    .odomet p {
        font-size: 17.5px;
        top: 32.5px;
        left: 15px;
    }
    
    .odomet img {
        left: 23.75px;
    }
    
    .gearbox {
        width: 70px;
        height: 58.75px;
        left: 100px;
    }
    
    .gearbox p {
        font-size: 17.5px;
        top: 32.5px;
        left: 17.5px;
    }
    
    .gearbox img {
        left: 23.75px;
    }
    
    .person {
        width: 70px;
        height: 58.75px;
        left: 206.25px;
    }
    
    .person p {
        font-size: 17.5px;
        top: 32.5px;
        left: 5px;
    }
    
    .person img {
        left: 23.75px;
    }
    
    .gas {
        width: 70px;
        height: 58.75px;
    }
    
    .gas p {
        font-size: 17.5px;
        top: 32.5px;
        left: 20px;
    }
    
    .gas img {
        left: 23.75px;
    }
    
    .rentnow {
        top: 588.75px;
        left: 30px;
        width: 420px;
        height: 53.75px;
        border-radius: 40px;
        border: 2.5px solid #000000;
        padding-top: 11.25px;
    }
    
    .rentnow a {
        padding: 16.25px 162.5px;
    }
    
    .escape {
        width: 480px;
        height: 672.5px;
        border-radius: 22.5px;
        top: 507.5px;
        left: 742.5px;
        border: 1.5px solid rgba(0, 0, 0, 0.1);
    }
    
    .porsche {
        width: 480px;
        height: 672.5px;
        border-radius: 22.5px;
        top: 507.5px;
        left: 1275px;
        border: 1.25px solid rgba(0, 0, 0, 0.1);
    }
    
    .m4comp {
        width: 480px;
        height: 672.5px;
        border-radius: 22.5px;
        top: 1228.75px;
        left: 206.25px;
        border: 1.5px solid rgba(0, 0, 0, 0.1);
    }
    
    .m4comp img {
        top: 8.75px;
        left: 8.75px;
    }
    
    .m4 {
        width: 480px;
        height: 672.5px;
        border-radius: 22.5px;
        top: 1228.75px;
        left: 742.5px;
    }
    
    .mclaren {
        width: 480px;
        height: 672.5px;
        border-radius: 22.5px;
        top: 1228.75px;
        left: 1275px;
        border: 1.25px solid rgba(0, 0, 0, 0.1);
    }
    
    .configmc {
        width: 420px;
        height: 78.75px;
        border-radius: 20px;
        top: 485px;
        left: 30px;
    }
    
    .inconfigmc {
        width: 380px;
        height: 58.75px;
        top: 10px;
        left: 20px;
    }
    
    .odometmc {
        width: 70px;
        height: 58.75px;
    }
    
    .odometmc p {
        font-size: 17.5px;
        top: 32.5px;
        left: 15px;
    }
    
    .odometmc img {
        margin-left: 12.5px;
        margin-top: -8.75px;
    }
    
    
    .gearboxmc {
        width: 70px;
        height: 58.75px;
        left: 100px;
    }
    
    .gearboxmc p {
        font-size: 17.5px;
        top: 32.5px;
        left: 17.5px;
    }
    
    .gearboxmc img {
        margin-left: 12.5px;
        margin-top: -8.75px;
    }
    
    .personmc {
        width: 70px;
        height: 58.75px;
        left: 206.25px;
    }
    
    .personmc p {
        font-size: 17.5px;
        top: 32.5px;
        left: 5px;
    }
    
    .personmc img {
        margin-left: 12.5px;
        margin-top: -8.75px;
    }
    
    .gasmc {
        width: 70px;
        height: 58.75px;
        right: 0;
    }
    
    .gasmc p {
        font-size: 17.5px;
        top: 32.5px;
        left: 20px;
    }
    
    .gasmc img {
        margin-left: 12.5px;
        margin-top: -8.75px;
    }
    
    .seeallcars {
        top: 2000px;
        left: 868.75px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 80px;
    }
    
    .seeallcars a {
        padding-left: 50px;
        padding-right: 87.5px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    /*! aqviyavi !*/
    
    
    .howitworks {
        width: 1520px;
        height: 1047.5px;
        left: 212.5px;
        top: 4581.25px;
    }
    
    .texthow {
        width: 900px;
        height: 180px;
        left: 337.5px;
    }
    
    .texthow h2 {
        font-size: 60px;
    }
    
    .texthow p {
        bottom: 12.5px;
        font-size: 22.5px;
    }
    
    .howimg {
        width: 937.5px;
        height: 797.5px;
        top: 312.5px;
        border-radius: 30px;
    }
    
    .howimg img {
        top: 158.75px;
        right: 55px;
    }
    
    .browse {
        width: 740px;
        height: 212.5px;
        border: 1.25px solid rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        top: 375px;
    }
    
    .browse h2 {
        font-size: 30px;
        top: 40px;
        left: 132.5px;
    }
    
    .browse p {
        font-size: 22.5px;
        top: 100px;
        left: 132.5px;
    }
    
    .browsesel {
        width: 67.5px;
        height: 132.5px;
        top: 40px;
        left: 40px;
        border-radius: 20px;
    }
    
    .browsesel img {
        top: 51.25px;
        left: 18.75px;
        height: 30px;
        width: 30px;
    }
    
    .book {
        width: 740px;
        height: 212.5px;
        border: 1.25px solid rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        top: 607.5px;
    }
    
    .book h2 {
        font-size: 30px;
        top: 40px;
        left: 132.5px;
    }
    
    .book p {
        font-size: 22.5px;
        top: 100px;
        left: 132.5px;
    }
    
    .bookconf {
        width: 67.5px;
        height: 132.5px;
        top: 40px;
        left: 40px;
        border-radius: 20px;
    }
    
    .bookconf img {
        top: 51.25px;
        left: 20px;
        height: 30px;
        width: 30px;
    }
    
    .enjoy {
        width: 740px;
        height: 212.5px;
        border: 1.25px solid rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        top: 840px;
    }
    
    .enjoy h2 {
        font-size: 30px;
        top: 40px;
        left: 132.5px;
    }
    
    .enjoy p {
        font-size: 22.5px;
        top: 100px;
        left: 132.5px;
    }
    
    .enjoyride {
        width: 67.5px;
        height: 132.5px;
        top: 40px;
        left: 40px;
        border-radius: 20px;
    }
    
    .enjoyride img {
        top: 51.25px;
        height: 30px;
        width: 30px;
        left: 18.75px;
    }

    
    .service {
        height: 732.5px;
        top: 5825px;
    }
    
    .servicetext {
        width: 900px;
        height: 180px;
        left: 525px;
        top: 125px;
    }
    
    .servicetext h2 {
        font-size: 60px;
    }
    
    .servicetext p {
        font-size: 22.5px;
        bottom: 12.5px;
    }
    
    
    .container {
        width: 1600px;
        height: 222.5px;
        left: 100px;
        top: 385px;
    }
    
    .quality {
        width: 480px;
        height: 222.5px;
    }
    
    .starimg { 
        width: 60px;
        height: 60px;
        border-radius: 35px;
        border: 10px solid rgba(255, 255, 255, 0.9);
        left: 210px;
    }
    
    .starimg img {
        top: 5px;
        left: 6.25px;
    }
    
    .startext {
        width: 480px;
        height: 137.5px;
    }
    
    .startext h2 {
        font-size: 25px;
    }
    
    .startext p {
        bottom: 12.5px;
    }
    
    .price {
        left: 562.5px;
        width: 480px;
        height: 222.5px;
    }
    
    .priceimg { 
        width: 60px;
        height: 60px;
        border-radius: 35px;
        border: 10px solid rgba(255, 255, 255, 0.9);
        left: 210px;
    }
    
    .priceimg img {
        top: 5px;
        left: 6.25px;
    }
    
    .pricetext {
        width: 480px;
        height: 137.5px;
    }
    
    .pricetext h2 {
        font-size: 25px;
    }
    
    .pricetext p {
        bottom: 12.5px;
    }
    
    
    .booking {
        width: 480px;
        height: 222.5px;
    }
    
    .bookingimg { 
        width: 60px;
        height: 60px;
        border-radius: 35px;
        border: 10px solid rgba(255, 255, 255, 0.9);
        left: 210px;
    }
    
    .bookingimg img {
        top: 5px;
        left: 6.25px;
    }
    
    .bookingtext {
        position: absolute;
        width: 480px;
        height: 137.5px;
    }
    
    .bookingtext h2 {
        font-size: 25px;
    }
    
    .bookingtext p {
        bottom: 12.5px;
    }
    
    .costumer {
        top: 6636.25px;
        left: 150px;
        font-size: 50px;
    }
    
    .costumtext {
        top: 6791.25px;
        left: 150px;
        font-size: 40px;
    }
    
    .costumname {
        top: 7171.25px;
        left: 150px;
        width: 348.75px;
        height: 100px;
    }
    
    .cosimg {
        width: 100px;
        height: 100px;
    }
    
    .costumname h2 {
        top: 12.5px;
        font-size: 30px;
    }
    
    .costumname p  {
        right: 85px;
        font-size: 25px;
    }
    
    .download {
        height: 365px;
        top: 7421.25px;
    }
    
    .dowtext {
        width: 610px;
        height: 148.75px;
        left: 270px;
        top: 106.25px;
    }
    
    .dowtext h2 {
        font-size: 35px;
        top: 12.5px;
    }
    
    .dowtext p {
        bottom: 12.5px;
    }
    
    .dowbutton {
        width: 522.5px;
        height: 76.25px;
        top: 156.25px;
        left: 1025px;
    }
    
    
    
    footer {
        top: 7786.25px;
        height: 141.25px;
    }
    
    footer img {
        left: 206.25px;
        top: 53.75px;
    }
    
    .footnav {
        width: 368.75px;
        top: 55px;
        left: 775px;
    }
    
    .footnav a {
        font-size: 17.5px;
    }
    
    .social {
        top: 56.25px;
        right: 206.25px;
        width: 180px;
        height: 30px;
    }
    
    .inst {
        width: 30px;
        height: 30px;
    }
    
    .inst img {
        width: 30px;
        height: 30px;
    }
    
    .soc {
        left: 66.25px;
        width: 30px;
        height: 30px;
    }
    
    .soc img {
        width: 30px;
        height: 30px;
    }
    
    .twitter {
        width: 30px;
        height: 30px;
    }
    
    .twitter img {
        width: 30px;
        height: 30px;
        left: 137.5px;
    }
    
    .youtube img {
        width: 30px;
        height: 30px;
    }

}